<%- include('../partials/adminHeader.ejs') %>
<body>
    <div class="screen-overlay"></div>

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/admin_assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item  ">
                <a class="menu-link" href="/admin/user_management"> <i class="icon material-icons md-person"></i>
                    <span class="text">User Management</span>
                </a>
                
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/product_management"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products Management</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category_management"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Category Management</span> </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/order_management"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupen_management"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Coupon</span>
                </a>
            </li>
            <li class="menu-item  ">
                <a class="menu-link" href="/admin/sales_report"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
            <li class="menu-item active ">
                <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banner</span>
                </a>
            </li>
           
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
<section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Banner</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div>
        <a href="/admin/add_banner" class="btn btn-primary btn-sm rounded"
          >Create new</a
        >
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col col-check flex-grow-0"></div>
          <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
           
          </div>
       
          <div class="col-md-2 col-6">
           
          </div>
        </div>
      </header>
      <!-- card-header end// -->
      <div class="card-body">
       
        <article class="itemlist">
          <div class="row align-items-center">
          
            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
              <a class="itemside" href="#">
                <div class="left">
                  <img
                    src=""
                    class="img-sm img-thumbnail"
                    alt="Item"
                  />
                </div>
                <div class="info">
                  <h6 class="mb-0"></h6>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price">
              <span></span>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-status">
              <span
                class="badge rounded-pill alert-success"
              >
                </span
              >
            </div>
            <div class="col-lg-1 col-sm-2 col-4 col-date">
              <span></span>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
              <a
                href="" 
                class="btn btn-sm font-sm rounded btn-brand"
              >
                <i class="material-icons md-edit"></i> Edit
              </a>
              <a
                href="#"
                class="btn btn-sm font-sm btn-light rounded"
                onclick=""
              >
                <i class="material-icons md-delete_forever"></i> Delete
              </a>
            </div>
           
          </div>
          <!-- row .// -->
        </article>
      </div>
      <!-- card-body end// -->
    </div>
    <!-- card end// -->
 
  </section>
</main>
</div>
</body>
<%- include('../partials/adminFooter.ejs') %>