<%- include('../partials/userHeader.ejs') %>
<div class="container p-30 mt-45">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="forgot-password_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
          <div class="padding_eight_all bg-white ">
            <div class="heading_s1 text-center">
              <h3 class="mb-30">Forgot Password</h3>
            </div>
            <form method="post" action="/otpToForgot">
              <div class="form-group">
                <input type="email" required="" name="email" placeholder="Your Email" class="form-control" onkeyup="validateEmail(this)">
                <p id="email-error" class="text-danger"></h4>
                    </p> <!-- Added error message element -->
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Verify</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    function validateEmail(email) {
      const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
      const emailError = document.getElementById('email-error');
  
      if (!emailRegex.test(email.value)) {
        emailError.textContent = 'Please enter a valid email address.';
      } else {
        emailError.textContent = '';
      }
    }
  </script>


<%- include('../partials/userFooter.ejs') %>